<!-- @format -->

<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss" />

<div class="page--home home">
  <section class="page__hero hero">
    <div class="hero__inner">
      <div class="hero__titles">
        <h1 class="hero__title">
          <span>Gira la rueda y obtén</span>
          <p>tu bono ahora mismo!</p>
        </h1>
      </div>

      <div class="hero__wheel-layout">
        <div class="hero__wheel-holder">
          <img
            src="@img/hero/hero-wheel-holder.png"
            alt=""
            class="hero__holder-image"
          />
        </div>

        <picture class="hero__wheel-picture">
          <img
            src="@img/hero/hero-wheel.png"
            alt=""
            class="hero__wheel-image"
          />
        </picture>

        <button class="hero__spin-button" type="button" aria-label="Spin wheel">
          <img src="@img/hero/spin-btn.png" alt="" class="hero__spin-icon" />
        </button>

        <div class="hero__win-frame">
          <img src="@img/hero/wheel-win-frame.png" alt="" />
        </div>
      </div>

      <img
        src="@img/hero/hero-orange.png"
        alt=""
        class="hero__character hero__character--orange"
      />
      <img
        src="@img/hero/hero-apple.png"
        alt=""
        class="hero__character hero__character--strawberry"
      />
      <div class="hero__bonus-items">
        <div class="hero__bonus-item hero__bonus-item--left">
          <span>850%</span>
          <p>con tu depósito de casino</p>
        </div>

        <div class="hero__bonus-item hero__bonus-item--right">
          <span>630</span>
          <p>Giros Gratis</p>
        </div>
      </div>
      <img
        src="@img/hero/fruits.png"
        alt=""
        class="hero__fruits hero__fruits--desktop"
      />
      <img
        src="@img/hero/fruits-mob.png"
        alt=""
        class="hero__fruits hero__fruits--mobile"
      />
    </div>
  </section>
</div>
