<footer data-fls-footer class="footer">
	<div class="footer__container">
	<p class="footer__brand">© CuatroBet</p>
					<p>
						<a href="https://cuatrobet.com/es/privacy?regBonus=1" class="footer__brand-link">Política de Privacidad</a>         
					</p>
					<p>
						<a href="https://cuatrobet.com/es/responsible-gambling?regBonus=1" class="footer__brand-link">Juego Responsable</a>
					</p>
					<p>
						Contacto:
						<a href="mailto:ayuda@cuatrobet.com" class="footer__brand-link">ayuda@cuatrobet.com</a>
					</p>
	</div>
</footer>